.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.page h1 {
  font-family: Kalameh;
  font-weight: 700;
  font-style: Bold;
  font-size: 31px;
  margin-bottom: 40px;
  text-align: center;
  color: #282828;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e4e4;
  color: #ffffff;
  width: 470px;
  height: 560px;
  box-shadow: 2px 2px 2px 1px #e9e3e3;
  opacity: 1;
  border-radius: 40px;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}
.header img {
  width: 80px;
  height: 84px;
}
.header h3 {
  color: #282828;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 15px;
}
.inputs input {
  align-items: center;
  width: 400px;
  height: 53px;
  opacity: 1;
  border-radius: 15px;
  padding: 22px 15px 22px 15px;
  gap: 10px;
  background: #f2f2f2;
  border: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}
.login button {
  width: 400px;
  height: 53px;
  opacity: 1;
  border-radius: 15px;
  gap: 10px;
  background: #55a3f0;
  border: none;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.login p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  text-align: right;
  color: #3a8bed;
  margin-bottom: 40px;
}
.login a {
  text-decoration: none;
}
.inputs span {
  color: red;
  font-size: 13px;
  align-self: flex-start;
}
