.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    padding:15px;
    background-color:#efefef;
    border-radius:8px;
    margin-top:20px;
}
.input{
    flex:1;
    height:35px;
    padding:8px;
    border:1px solid #999;
    outline:none;
    font-size: 18px;
}
.header button{
    border:none;
    cursor:pointer;
    border-radius: 50%;
    /* width:35px;
    height:35px; */
}
.icon{
    width:35px;
    height: 35px;
    color:rgb(83, 80, 80);
    
}
.icon:hover{
    background-color:#dad4d4ee;
}